<!DOCTYPE html>
<html>

<head>
    <title>404 Not Found</title>
    <style>
        * {
            background-color: rgb(33, 32, 51);
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Nothing here</h1>
    <img src="https://cdn.betterttv.net/emote/5805580c3d506fea7ee357d6/3x" alt="monkaS">
</body>

</html>