{{#*inline "page"}}

<style>
    .authentication {
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .authentication a {
        color: white;
        margin: 10px;
        padding: 20px;
        display: block;
        text-decoration: none;
    }

    .platformlist {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
        display: flex;

    }

    .platformlist a {
        border-radius: 5px;
        display: flex;
    }

    .platformlist b {
        font-family: sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<section>
    <div class="authentication">
        <h1>Choose a platform to authenticate with:</h1>
        <div class="platformlist">
            <a href="/authenticate/twitch" style="background-color: #6441a5;" class="auth-link">
                <img src="/static/twitch-brands.svg" alt="Twitch icon" height="32" width="32" /> <b>Login with
                    Twitch</b>
            </a>
            <a href="/authenticate/discord" style="background-color: #5567e2;" class="auth-link">
                <img src="/static/discord-brands.svg" alt="Discord icon" height="32" width="32" /> <b>Login with
                    Discord</b>
            </a>
        </div>
    </div>
</section>

<script>
    const params = new URLSearchParams(window.location.search);

    let redirect_to = params.get("redirect_to");

    if (redirect_to) {
        const links = document.getElementsByClassName("auth-link");

        for (let link of links) {
            link.href += "?redirect_to=";
            link.href += redirect_to;

        }
    }
</script>

{{/inline}}
{{~>(parent_context.name)~}}