{{#*inline "page"}}

<style>
    section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
    }

    ul {
        columns: 2;
    }

    .channel {
        border: 2px solid #3a375a;
        border-radius: 5px;
        padding: 20px;
        margin: 30px;
        width: 40vw;
    }

    .channel a {
        text-decoration: none;

        background-color: blue;
        color: white;
        display: flex;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        padding-left: 20px;
    }

    .channel b {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>

<section>
    <ul>
        {{#each channels}}
        <div class="channel">
            <h1>Platform: {{ this.platform }}</h1>
            <p>Name/Channel ID: {{ this.channel }}</p>
            <p>ID: {{ this.id }}</p>
            <a href="/channels/{{this.id}}/commands">
                <img src="/static/list-solid.svg" height="24" width="24" /><b>Command list</b>
            </a>
        </div>
        {{/each}}
    </ul>
</section>

{{/inline}}
{{~>(parent_context.name)~}}