{{#*inline "page"}}

<style>
    * {
        text-align: center;
    }
</style>

<section>
    <h1>Hello!</h1>
    <h3>The bot is currently registered in {{ channel_amount }} channels.</h3>
    <h3>You can take a look at the list <a href="/channels">here</a>.</h3>
</section>

{{/inline}}
{{~>(parent_context.name)~}}