<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
    <title>Foobot 2 </title>
    <style>
        {{!-- * {
            font-family: "Comic Sans MS", "Comic Sans", "Times New Roman";
        } --}}
        * {
            font-family:'Times New Roman', Times, serif
        }

        body {
            background-color: rgb(33, 32, 51);
            color: white;
        }

        a:link {
            color: rgb(153, 153, 229);
        }

        a:visited {
            color: rgb(106, 106, 238);
        }

        header {
            background-color: rgb(81, 78, 124);
            display: flex;
        }

        ul {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:link,
        li a:visited {
            color: white;
        }

        .user {
            white-space: nowrap;
            text-decoration: none;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: auto;
            margin-bottom: auto;
            display: block;
        }
        

        .user,
        li a {
            font-size: 20px;
        }

        .user:link,
        .user:visited {
            color: white;
        }

        li a:hover,
        .user:hover a {
            background-color: rgb(53, 51, 85);
        }

        .logout {
            height: 32px;
            width: 32px;
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 8px;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            border-spacing: 0px;
        }
    </style>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></lia>
            <li><a href="/channels">Channels</a></lia>
        </ul>
        {{ #if parent_context.auth_info }}
        <p class="user">Logged in as <b>{{ parent_context.auth_info.username }}</b> </p>
        <a class="logout" href="/authenticate/logout"><img src="/static/logout.png" alt="Log out"/></a>
        {{ else }}
        <a class="user" href="/authenticate">Log in</a>
        {{ /if }}
    </header>
    {{~> page}}
    <footer>
        <a href="https://github.com/ilyazzz/foobot2">source code</a>
    </footer>
</body>

</html>