<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
    <title>Foobot 2 </title>
    <style>
        body {
            color: white;
            width: 100vw;
            height: 100vh;
            background-color: #212033;
            margin: 0px;
            padding: 0px;
        }

        header {
            font-family: sans-serif;
            background-color: #29273f;
            display: flex;
        }

        ul {
            display: flex;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;
            list-style: none;
            padding-left: 20px;
        }

        li a {
            display: block;
            text-decoration: none;
            padding: 28px;
        }

        li a:link,
        li a:visited {
            color: white;
        }

        li a:hover {
            background-color: rgb(102, 98, 153);
        }

        .user {
            display: block;
            text-decoration: none;

            margin-top: 16px;
            margin-bottom: 16px;
            margin-left: 32px;
            margin-right: 32px;

            padding-left: 40px;
            padding-right: 40px;
            padding-top: 12px;
            padding-bottom: 12px;

            white-space: nowrap;
            text-decoration: none;
            background-color: rgb(73, 73, 230);
            color: white;
            border-radius: 5px;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        
        footer a {
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></lia>
            <li><a href="/channels">Channels</a></lia>
        </ul>
        {{ #with parent_context.session }}
        <p class="user">Logged in as <a class="profile" href="/profile"><b>{{ username
                    }}</b></a></p>
        <a class="logout" href="/authenticate/logout"><img src="/static/logout.png" alt="Log out" /></a>
        {{ else }}
        <a class="user" href="/authenticate"><b>Login</b></a>
        {{ /with }}
    </header>
    {{~> page}}
    <footer>
        <a href="https://github.com/ilyazzz/foobot2">source code</a>
    </footer>
</body>

</html>